
@import "mixin";
@import "sizes";
.nopadding{
    padding:0;
}
.nomargin{
    margin-right: 0;
    margin-left: 0; 
}
.header{
    width: 100%;
    margin:0;
    padding:0;
    @include gray;
    .logo {
        img{
        width: 4.7vw;    
        padding: 1vh 1vw;
        }
        label{
            text-align: left;
            @media(min-width: $md-screen){
                font-size: 28pt;
            }
            @media(min-width: $sm-screen){
                font-size: 25pt;
            }
            @media(min-width: $lg-screen){
                font-size: 33pt;
            }
            padding: 1vh 1vw;
        }
    }
}

.qatar-img{
    width: 100%;
    height: 50vh;
}

