@import url('https://fonts.googleapis.com/css?family=Changa:300,400');
@import "header";
div{
    margin:0;
    padding: 0;
    font-family: 'Changa', sans-serif;
}

.flag{
    width: 2em;
    height: 2em;
}


